* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.2s linear;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

/* Adding a variable */
:root {
  --pink: #e84393;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background: white;
}

.logo {
  font-size: 2.1em;
  color: #333;
  font-weight: 700;
}

.logo span,
nav a:hover,
header i:hover {
  color: var(--pink);
}

nav a {
  color: #666;
  font-size: 1.3em;
  padding-right: 20px;
}

header .icons i {
  font-size: 1.5em;
  padding-right: 0.8em;
}

header input,
header label {
  display: none;
}

header label i {
  cursor: pointer;
  font-size: 1.8em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* Media queries for header */
@media (max-width: 1026px) {
  header nav {
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    left: 0;
    top: -500%;
    background: #f0f0f0;
    color: gray;
    text-align: center;
  }

  .logo {
    font-size: 1.7em;
  }

  header label i {
    font-size: 1.5em;
  }

  header nav a {
    padding: 10px;
    border-bottom: 1px solid #333;
  }

  header {
    padding: 1em 2%;
    justify-content: flex-start;
  }

  header .icons {
    position: absolute;
    right: 10px;
  }

  header input:checked ~ nav {
    top: 100%;
  }

  header label {
    display: block;
  }

  header label {
    margin-right: 1em;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 13px;
  }

  .logo {
    font-size: 1.8em;
  }

  header label i {
    font-size: 1.5em;
  }

  header .icons i {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 12px;
  }

  .logo {
    font-size: 1.5em;
  }

  header label i {
    font-size: 1.3em;
  }

  header .icons i {
    font-size: 1.2em;
  }
}

/* Section-Home */
section {
  min-height: 100vh;
  width: 100%;
  padding: 2rem 9%;
}

.home {
  background: url("images/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home .content {
  max-width: 40em;
}

.home .content h2 {
  font-size: 4.5em;
  color: #333;
}

.home .content h3 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.home .content p {
  color: #333;
}

.btn {
  display: inline-block;
  margin-top: 2em;
  color: white;
  background: #333;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.btn:hover {
  background: rgb(172, 144, 149);
}

.heading {
  color: #333;
  background: rgba(255, 51, 153, 0.05);
  text-align: center;
  font-size: 4em;
  padding: 0.5em;
  margin: 1em 0;
}

.heading span {
  color: var(--pink);
  padding-right: 0.5em;
}

/* About Section */
.about .row {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
  padding: 2em 0;
  padding-bottom: 3em;
}

.video-container {
  flex: 1 1 40em;
  position: relative;
}

.video-container video {
  width: 100%;
  border: 1.5em solid white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.video-container h3 {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  font-size: 3em;
  color: #333;
  background: #fff;
  padding: 0.4em 0.8em;
  text-align: center;
  width: 100%;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 40em;
}

.about .row .content h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 1em;
}

.about .row .content p {
  font-size: 1.2em;
  color: #999;
  margin: 1em 0;
}

@media (max-width: 700px) {
  .video-container h3 {
    font-size: 1.8em;
  }

  .heading {
    font-size: 2.5em;
  }

  .about .row .content h1 {
    font-size: 2.5em;
  }

  @media (max-width: 300px) {
    .video-container h3 {
      font-size: 1.5em;
    }
  }
}

/* Icons Section */
.icons-container {
  background: #f0f0f0;
  min-height: fit-content;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icons-container .icon {
  background: white;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 15px 20px;
  width: 350px;
}

.icon .info p {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.3em;
  color: #333;
}

.icon .info small {
  color: var(--pink);
}

@media (max-width: 900px) {
  .icons-container {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .icons-container .icon {
    width: 90vw;
  }

  .icon .info small {
    font-size: 1.2em;
  }

  .icon .info p {
    font-size: 1.5em;
  }
}

/* Products Section */
.products-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.product {
  width: 400px;
  height: fit-content;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  position: relative;
}

.product span {
  padding: 5px;
  color: var(--pink);
  background: #ffeaf4;
  position: absolute;
  left: 10px;
  top: 10px;
}

.product:hover {
  transform: scale(1.1);
}

.product:hover img {
  transform: scale(1.1);
}

.product .img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.product .bar {
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scaley(0);
  padding: 0px 50px;
}

.bar a {
  color: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0.5rem;
}

.bar i {
  cursor: pointer;
}

.bar p {
  margin: 0;
  font-size: 1.4em;
}

.product img {
  width: 100%;
  transition: all 0.2s ease-in;
}

.product h3 {
  font-size: 1.5em;
  color: #333;
  padding: 10px;
  text-align: center;
}

.product p {
  font-size: 1.1em;
  color: gray;
}

.product .price {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--pink);
}

@media (max-width: 600px) {
  .products-container {
    justify-content: center;
  }

  .product {
    width: 300px;
  }

  .product h3 {
    font-size: 1.2em;
  }
}

/* Testimonials Section */
.testimonial {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0;
}

.testimonial .card {
  background: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.testimonial .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial .card h3 {
  color: #333;
}

.testimonial .card p {
  color: gray;
}

@media (max-width: 900px) {
  .testimonial {
    justify-content: center;
  }

  .testimonial .card {
    flex: 1 1 45%;
  }
}

@media (max-width: 600px) {
  .testimonial .card {
    flex: 1 1 90%;
  }
}

/* Contact Section */
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 2rem 9%;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
}

form input:focus,
form textarea:focus {
  border-color: var(--pink);
}

.contact-content img {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
}

textarea {
  height: 12rem;
  resize: none;
}

.contact-content button {
  color: white;
  background: #333;
  width: 200px;
  padding: 10px;
  font-size: 1em;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
  transition: background 0.2s linear;
}

button:hover {
  background: var(--pink);
}

@media (max-width: 1024px) {
  .contact-content {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
  }

  .contact-content form {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .contact-content form {
    padding: 1rem;
    width: 100%;
  }

  .contact-content img {
    max-width: 150px;
  }
}


